
<div class="row"> 
    <div class="col-md-4">
        <figure class="figure">
            <img src="./assets/Johann-composer.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">https://www.imdb.com/name/nm0001925/bio </figcaption>
          </figure>
    </div>
    <div class="col-md-8">
      <blockquote>
        <p> Johann Sebastian Bach was born on Match 21, 1685, in Eisenach, Thuringia, Germany. Most of the Johann family were professional musicians.  His father, Johann Ambrosius Bach, was a violinist and trumpeter employed by the city of Eisenach. His uncles were church organists, court musicians, and composers. Johann's parents both died before he was ten and then moved in with his eldest brother J.C Bach, an organist and composer. While living with his bother, Bach began studying organ music and learned the organ's construction and maintenance. Bach became the most performed and recorded composer in history. He wrote over a thousands of music compositions in all genres, including voice, organ, harpsichord, violin, cello, and flute.</p>
       
            <footer>
                <cite>Johann Sebastian Bach. (n.d.). Retrieved January 09, 2021, from </cite><a href="https://www.imdb.com/name/nm0001925/bio">https://www.imdb.com/name/nm0001925/bio </a>
            </footer>
        </blockquote>
        
    </div>
</div>