<div fxLayout="column">
    <div fxFlex>
        <mat-card class="sign-in-container">
            <mat-card-title class="title">Student Sign In</mat-card-title>
            <mat-card-subtitle class="subtitle">You must enter a valid student ID to proceed.</mat-card-subtitle>
            <mat-card-content class="form-container">
                <!---Display error message if creds are invalid-->
                <div class="msg-error" *ngIf="errorMessage">{{ errorMessage }}</div>

                <!---->
                <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); signinForm.reset()">

                    <mat-card-content fxLayout="column">
                        <mat-form-field fxFlex appearance="fill">
                            <mat-label for="txtStudentId">Student ID</mat-label>
                            <input type="text" name="txtStudentId" matInput formControlName="studentId"
                                id="txtStudentId">
                        </mat-form-field>

                        <mat-card-actions>
                            <button type="submit" fxFlex mat-raised-button color="primary">Submit</button>
                        </mat-card-actions>
                    </mat-card-content>


                </form>

            </mat-card-content>
        </mat-card>
    </div>

</div>