

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Contacts</h1>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-6">
            <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
        
            <ul class="list-group list-group-flush">
                <li class="list-group-item">193  Front Street </li>
                <li class="list-group-item">Southfield, MI 48075</li>

              </ul>
        </div>
        <div class="col-md-6">
            <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">810-377-2221</li>
                <li class="list-group-item">248-514-5674</li>

              </ul>
        </div>
    </div>

</div>