<!--
/*
============================================
; Title: contact.component.html
; Author: Professor Krasso
; Date: 29 January 2021
; Modified By: Arlix Sorto
; Description: Exercise 5.2 - Navigation and Layout
;===========================================
*/
-->
<div fxLayout="row wrap">
    <div fxFlex>
        <mat-card-title class="card-title-icon">
            <mat-icon color="primary">home_work</mat-icon>
          </mat-card-title>
          <br />
          <mat-card-content class="align-center">
            <p>193  Front Street </p>
            <p>Southfield, MI 48075</p>
          </mat-card-content>
  
    </div>
    <div fxFlex>
        <mat-card-title class="card-title-icon">
            <mat-icon color="primary">phone</mat-icon>
          </mat-card-title>
          <br />
          <mat-card-content class="align-center">
            <p>810-377-2221</p>
            <p>248-514-5674</p>
          </mat-card-content>
    </div>
</div>