.sign-in-container{
    margin: 15% auto 0 auto;
    width: 35%;
}

.sign-in-container .title,.sign-in-container .subtitle{
    text-align: center;
}
.msg-error{
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 12px;
    margin: 10px 0px;
}