<!--
/*
============================================
; Title: about.component.html
; Author: Professor Krasso
; Date: 29 January 2021
; Modified By: Arlix Sorto
; Description: Exercise 5.2 - Navigation and Layout
;===========================================
*/
-->
<div fxLayout="row wrap">
  <div fxFlex class="author-image">
    <figure class="figure">
      <img src="./assets/jkrowling-bio.png" class="figure-img img-fluid rounded"   alt="A generic square placeholder image with rounded corners in a figure."   />
      <figcaption class="figure-caption">
       Photography by Debra Hurford Brown &copy; J.K Rowling 2014
      </figcaption>
    </figure>
  </div>
  <div fxFlex>
    <blockquote>
      <p>
        Joanne Rowling was born on July 31st, 1965, and she has a young sister
        who is two years younger than her. Joanne lived with her sister and
        parents in Winterbourne, Gloucestershire. She then moved to Tutshill,
        Chepstow, with her family. Joanne grew up surrounded by books because
        her parents loved reading. Joanne went to school at Wyedean
        Comprehensive school to study French and Classics at the University of
        Exeter. In 1997 she wrote her first book called Harry Potter and the
        Philosopher’s Stone and became a quick seller. Later on, she continued
        to write more books and received many awards and honors, including OBE
        for services to children’s literature.
      </p>

      <footer>
        <cite>
          Bloomsbury. (n.d.). Biography. Retrieved January 30, 2021, from </cite
        ><a href=" https://harrypotter.bloomsbury.com/uk/jk-rowling-biography/">
          https://harrypotter.bloomsbury.com/uk/jk-rowling-biography/
        </a>
      </footer>
    </blockquote>
  </div>
</div>
