.login-container{
    max-width: 500px;
    margin: 100px auto;
}
.title-container .subtitle{
    text-align: center;
    width: 100%;
}
.title-container,
.mat-card-header-text{
    width: 100%!important;
    text-align: center!important;
}

.footer-container{
    padding-left: 15px;
}

.footer-container .title{
    font-size: 15px;
}

.msg-error{
    color: #F44336;
  }